/* static/style.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #ccdfe0;
}

h1 {
    color: #333;
    text-align: center;
}

form {
    background-color: #6bc4c4;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-bottom: 10px;
}

input[type="text"], select {
    width: 100%;
    padding: 8px;
    margin-bottom: 20px;
    border: 1px solid
}